body {
  font-size: 12px;
  font-family: Vazir;
  font-weight: 600;
  margin-left: 0;
  margin-right: 0;
}

@font-face {
  font-family: Vazir;
  src: url('vazir-font/Vazir-Light.eot');
  src: url('vazir-font/Vazir-Light.woff');
  src: url('vazir-font/Vazir-Light.ttf');
}

.header-container {
  display: flex;
  height: 50px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: white;
  z-index: 2;
  padding-top: 10px;
}

/*left section*/

.left-section {
  display: flex;
  align-items: center;
}

.left-section a {
  text-decoration: none;
  color: black;
}

.shopping-icon {
  border-right: 1px solid rgb(233, 223, 223);
  height: 25px;
  padding-right: 15px;
  margin-left: 20px;
  margin-right: 15px;
  
}

.shopping-img {
  width: 30px;
  cursor: pointer;
}

.login-img {
  width: 28px;
  margin-right: 5px;
}

.login-container {
  border: 1px solid rgb(233, 223, 223);
  border-radius: 8px;
  padding: 4px 14px;
  display: flex;
  align-items:center;
  cursor: pointer;
  white-space: nowrap;
}

.login-container:hover {
  transform: scale(1.02);
}

.search-bar {
  width: 600px;
  height: 40px;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: rgb(244, 246, 247);
  font-family: Vazir;
  padding-right: 8px;
  background: url(images/search-icon.jpg);
}

input[type="text"]:focus {
  outline: none;
  background-color: white;
  border-bottom: 1px solid aqua;
}

.search-icon {
  width: 42px;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/*right section*/

.digikala-logo {
  margin-right: 20px;
  margin-left: 0;
  cursor: pointer;
  margin-left: 20px;
}

.right-section {
  display: flex;
}
