
.rate-comments-title p {
  font-size: 17px;
  font-weight: 600;
}

.rate-comments-title span {
  width: 80px;
  border-bottom: 3px solid red;
}

.rate-comments-title {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.rate-container {
  padding-top: 30px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rate-container p {
  padding-right: 10px;
}

.rate-container div {
  display: flex;
  align-items: center;
}

.rate-container img {
  height: 40px;
}

#point-rate {
  font-size: 21px;
  font-weight: bold;
}

#point-range {
  font-size: 10px;
  color: gray;
}

#total-rate {
  font-size: 10px;
  color: gray;
}

#comments-subject {
  font-size: 15px;
  color: rgb(101, 99, 99);
}

.rate-range-container {
  height: 60px;
  border: 1px solid gray;
  width: 240px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.rate-range {
  width: 210px;
  height: 8px;
  background-color: rgb(35, 174, 35);
  margin-top: 10px;
  border-radius: 5px;
}

.rate-range-5 {
  width: 210px;
  height: 8px;
  background-color: rgb(201, 20, 20);
  margin-top: 10px;
  border-radius: 5px;
}

.rate-range-3 {
  width: 210px;
  height: 8px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgb(216, 202, 202);
}

.rate-range-3-1 {
  width: 86%;
  background-color: rgb(35, 174, 35);
  height: 8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rate-range-3-2 {
  width: 8%;
  background-color: rgb(201, 20, 20);
  height: 8px;
}

.rate-range-4 {
  width: 210px;
  height: 8px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgb(216, 202, 202);
}

.rate-range-4-1 {
  width: 68%;
  background-color: rgb(35, 174, 35);
  height: 8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rate-range-4-2 {
  width: 12%;
  background-color: rgb(201, 20, 20);
  height: 8px;
}

.rate-range-title {
  display: flex;
  white-space: nowrap;
  column-gap: 70px;
}

.right-span {
  margin-top: 7px;
  color: gray;
}

.left-span {
  margin-top: 7px;
  font-size: 10px;
  color: gray;
}

#comment-1 {
  margin-right: 50px;
}

#range-title-1 {
  margin-right: 10px;
}

#comment-2 {
  margin-right: 75px;
}

#range-title-2 {
  margin-right: 10px;
}

#comment-3 {
  margin-right: 28px;
}

#range-title-3 {
  margin-right: 10px;
}

#comment-4 {
  margin-right: 12px;
}

#range-title-4 {
  margin-right: 10px;
}

#comment-5 {
  margin-right: 25px;
}

#range-title-5 {
  margin-right: 10px;
}

.section-right {
  margin-right: 10px;
}

section {
  display: flex;
}

.check-expert {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
}

.check-expert-title span {
  width: 80px;
  border-bottom: 3px solid red;
  display: block;
}

.check-expert-title p {
  font-size: 18px;
  font-weight: 600;
}

.check-expert-title-1 {
  padding-top: 40px;
  font-size: 16px;
  font-weight: 600;
}

.check-expert-text {
  font-size: 15px;
  color: gray;
  font-weight: 400;
  line-height: 35px;
}

.check-expert img {
  width: 100%;
}