.cart-container {
  height: 100%;
  display: grid;
  margin-top: 100px;
  column-gap: 20px;
  justify-content: center;
  grid-auto-flow: column;
}

@media (max-width: 1285px) {
  .cart-container {
    grid-template-columns: 1fr 300px;
    column-gap: 20px;
    padding: 20px;
  }
  .cart-right-section {
   width: 100%;
  }
}

@media (max-width: 1024px) {
  .total-container {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
  }
  .total-container .total-checkout {
    display: grid;
    grid-auto-flow: column;
    border: none;
    direction: ltr;
    height: auto;
    width: 100%;
    border-top: 2px solid rgb(233, 226, 226);
    border-radius: unset;
    padding: 5px 15px 5px 15px;
  }
  .total-checkout .products-price {
    display: none;
  }
  .total-checkout .total-price {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-size: 12px;
    line-height: 25px;
    direction: rtl;
    text-align: end;
  }
  .total-checkout .entry-button button {
    width: 100%;
  }
  .cart-container {
    grid-template-columns: 100%;
    column-gap: unset;
    padding: 10px;
  }
.cart-container .right-section-container {
    width: 100%;
    border-bottom: 1px solid rgb(233, 226, 226);
    line-height: 15px
  }
.right-section-container .cart-right-section {
    border: none;
    
  }
  .product-particuler .garantee {
    white-space: wrap;
    line-height: 25px;
  }
  .product span {
    line-height: 10px;
  }
  .product #product-name {
    line-height: 25px;
  }
  .cart-right-section .product {
    padding: unset;
    padding-right: 20px;
    padding-top: 30px;
  }
  .total-price-span {
    font-size: 11px;
    color: rgb(165, 160, 160);
    font-weight: 400;
  }
}
.right-section-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.total-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  font-weight: 600;
  width: 300px;
  border: 1px solid rgb(210, 200, 200);
  border-radius: 10px;
  height: 250px;
}

.cart-right-section {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  border: 1px solid rgb(210, 200, 200);
  border-radius: 8px;
}

.product-title {
  padding-right: 20px;
}

.product-title p {
  font-size: 15px;
  font-weight: 600;
}

.product-title div {
  font-size: 12px;
  color: gray;
}

.product {
  display: flex;
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.product img {
  width: 120px;
}

.product-particuler {
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.product-particuler div {
  display: flex;
  align-items: center;
}

.product-particuler span {
  padding-right: 10px;
  font-size: 12px;
  font-weight: 400;
  color: rgb(95, 93, 93);
  white-space: nowrap;
}

#product-name {
  padding-right: 0;
  font-size: 13px;
  color: black;
  font-weight: 600;
  padding-bottom: 10px;
  white-space: wrap;
  line-height: 35px;
}

.product-particuler img {
  width: 17px;
}

#garantee-icon {
  width: 14px;
}

.blue-icon {
  width: 8px;
  height: 8px;
  background-color: aqua;
  border-radius: 4px;
  margin-right: 4px;
  margin-left: 5px;
}

.delete-price {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.delete-container {
  width: 100px;
  height: 45px;
  border: 1px solid rgb(204, 198, 198);
  margin-right: 50px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.price {
  margin-right: 30px;
  font-size: 15px;
  font-weight: 600;
}

.delete-container img {
  width: 16px;
  cursor: pointer;
  margin-top: 5px;
}

.product-number-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  font-weight: 200;
  color: rgb(204, 198, 198);
}

.cart-quantity-2 {
  color: rgb(231, 43, 68);
  font-size: 14px;
}

#red-plus {
  font-size: 25px;
  color: rgb(231, 43, 68);
  cursor: pointer;
}

.total-checkout button {
  width: 260px;
  height: 50px;
  border: none;
  background-color: rgb(233, 68, 90);
  border-radius: 8px;
  color: white;
  font-family: Vazir;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
}

.products-price {
  padding-top: 40px;
  display: flex;
  column-gap: 80px;
}

.total-price {
  display: flex;
  column-gap: 80px;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(190, 185, 185);
  border-radius: 10px;
  padding: 50px 200px;
  font-size: 17px;
  font-weight: 600;
  display: none;
}

.tooman {
  font-size: 10px;
}