html {
scroll-behavior: smooth;
}

body {
  font-size: 14px;
  font-family: Vazir;
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
}

@font-face {
  font-family: Vazir;
  src: url('vazir-font/Vazir-Light.eot');
  src: url('vazir-font/Vazir-Light.woff');
  src: url('vazir-font/Vazir-Light.ttf');
}

.header-container {
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: white;
  z-index: 2;
  padding-top: 10px;
}

/*left section*/

.left-section {
  display: flex;
  align-items: center;
}

.left-section a {
  text-decoration: none;
  color: black;
}

.shopping-icon {
  border-right: 1px solid rgb(233, 223, 223);
  height: 25px;
  padding-right: 15px;
  margin-left: 20px;
  margin-right: 15px;
  position: relative;
  margin-bottom: 5px;
}

.checkout-number-container {
  position: absolute;
  display: flex;
  width: 17px;
  height: 17px;
  background-color: rgb(231, 43, 68);
  border-radius: 6px;
  color: white;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  top: 18px;
  left: 18px;
}

.shopping-img {
  width: 30px;
  cursor: pointer;
}

.login-img {
  width: 28px;
}

.login-container {
  border: 1px solid rgb(233, 223, 223);
  border-radius: 8px;
  padding: 4px 1px;
  display: flex;
  align-items:center;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  padding: 5px;
  align-items: center;
  font-weight: 600;
}

.login-container span {
  margin-right: 5px;
}

.login {
  margin-bottom: 4px;
}

.search-bar-container {
  display: flex;
  width: 650px;
  position: relative;
}

.search-bar {
  width: 100%;
  height: 40px;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: rgb(236, 236, 236);
  font-family: Vazir;
  padding-right: 8px;
  font-size: 13px;
  padding-bottom: 5px;
}

@media (min-width: 1030px) {
  .top-header {
    display: none;
  }
}

@media (max-width: 1030px) {
  .search-bar-container {
    margin-right: 15px;
    width: 650px;
  }
  .digikala-logo {
    display: none;
  }
  .top-header {
    position: relative;
    border-bottom: 1px solid rgb(243, 236, 236);
  }
  .bottom-header {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(243, 236, 236);
    column-gap: 40px;
    width: auto;
  }
  .login-container {
    border: none;
    margin-left: 0;
    font-size: 13px;
  }
  .login-container:hover {
    transform: none;
  }
  .shopping-icon {
    border: none;
  }
  .digikala-logo2 {
    width: 100px;
  }
  .nav {
    display: none;
  }
  .shopping-icon {
    margin-left: 10px;
    margin-right: 5px;
    padding-right: 10px;
  }
  .header-container {
    position: relative;
  }
  .register {
    display: none;
  }
}

@media (max-width: 842px) {
  .search-bar-container {
    width: 400px;
  }
}

@media (max-width: 595px) {
  .search-bar-container {
    width: 250px;
  }
}
input[type="text"]:focus {
  outline: none;
  background-color: white;
  border-bottom: 1px solid aqua;
}

.search-icon {
  width: 42px;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/*right section*/

.digikala-logo {
  margin-right: 20px;
  margin-left: 0;
  cursor: pointer;
  margin-left: 20px;
}

.right-section {
  display: flex;
}

.question-mark {
  width: 20px;
  cursor: pointer;
}

.hamberger {
  cursor: pointer;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  padding: 10px 25px 15px 10px;
}

.bottom-header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
