@font-face {
  font-family: Vazir;
  src: url('vazir-font/Vazir-Light.eot');
  src: url('vazir-font/Vazir-Light.woff');
  src: url('vazir-font/Vazir-Light.ttf');
}

body {
  font-family: Vazir;
}

.container {
  height: 430px;
  width: 420px;
  border: 1px solid rgb(237, 228, 228);
  border-radius: 10px;
  margin: auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .container {
    border: none;
    width: auto;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .input-container input {
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
  }

  .input-container p {
    margin-right: 10px;
  }
  .button-container button {
    width: 100%;
    margin-right: 10px;
  }
  .button-container p {
    margin-right: 10px;
  }
  .enter-container p {
    margin-right: 10px;
  }
}


.digi-logo {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.digi-logo img {
  height: 40px;
}

.first-p {
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}

p {
  margin-right: 32px;
  font-size: 13px;
}

.hello,
.enter-input {
  color: gray;
}

.hello {
  margin-bottom: 2px;
}

input {
  width: 350px;
  margin-right: 32px;
  height: 48px;
  border-bottom: 1px solid aqua;
  border-radius: 8px;
  margin-top: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: rgb(245, 247, 248);
  box-sizing: border-box;
  outline: none;
}

input:focus {
  outline: none;
}

.alert {
  font-size: 13px;
  margin-right: 32px;
  color: rgb(228, 51, 80);
  margin-top: 0;
  margin-top: 5px;
  display: none;
}

.alert-2 {
  font-size: 13px;
  margin-right: 32px;
  color: rgb(228, 51, 80);
  margin-top: 0;
  margin-top: 2px;
  display: none;
}

button {
  margin-top: 25px;
  margin-right: 32px;
  width: 350px;
  height: 48px;
  background-color: rgb(244, 65, 95);
  border: none;
  border-radius: 8px;
  color: white;
  font-family: Vazir;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.rull {
  margin-top: 18px;
  font-size: 12px;
}

.links {
  color: rgb(139, 179, 238);
  cursor: pointer;
}