.support-icon {
  width: 30px;
  position: fixed;
  bottom: 10px;
  left: 50px;
  cursor: pointer;
}

.sugestions {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.sugestions img {
  width: 55px;
  cursor: pointer;
}

.sugestions div {
  margin-left: 50px;
  margin-right: 50px;
}

.sugestions div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sugestions div label {
  margin-top: 8px;
  color: rgb(110, 101, 101);
  font-weight: 500;
}

.ads {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ads img {
  width: 100%;
  border-radius: 17px;
  cursor: pointer;
}

.ads div {
  margin-left: 15px;
  margin-top: 40px;
  width: 300px;
}

.dastebandi {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}

.dastebandiha {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: 180px;
  margin-right: 180px;
  column-gap: 40px;
  row-gap: 50px;
  margin-top: 60px;
}

.dastebandiha img {
  width: 100%;
  cursor: pointer;
}

.dastebandiha div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}