.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 50px;
}

.container a {
  text-decoration: none;
}

.current-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 12px;
  color: gray;
  margin-right: 20px;
  margin-top: 10px;
}

#title {
  font-weight: 700;
  margin-right: 20px;
  margin-top: 40px;
}

.product-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(246, 238, 238);
  padding: 40px 20px;
  box-sizing: border-box;
  outline: none;
  height: 600px;
}

.product-container:hover {
  box-shadow: 1px 1px 10px 2px rgb(204, 202, 202);
}

.product-image{
  width: 100%;
}

.image-container {
  margin-bottom: 10px;
}

.text-1 {
  display: flex;
  align-items: center;
  color: gray;
  font-size: 10px;
  font-weight: 600;
}

.text-1-1 {
  display: flex;
  column-gap: 5px;
  border: none;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  padding: 2px 5px;
  padding-top: 4px;
}

.red-truck {
  width: 17px;
  height: 16px;
}

.text-2 {
  font-size: 11px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.756);
  line-height: 25px;
}

.text-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fast-emission-icon {
  width: 18px;
}

.emission,
.score {
  display: flex;
  white-space: nowrap;
  align-items: center;
  column-gap: 7px;
  font-size: 12px;
  color: rgb(86, 84, 84);
  font-weight: 600;
}

.score img {
  width: 17px;
}

.text-4 {
  float: left;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.756);
  margin-top: 20px;
}

#tooman {
  font-size: 12px;
}

@media ( max-width: 1300px) { 
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media ( max-width: 900px) { 
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media ( max-width: 600px) { 
  .container {
    grid-template-columns: 1fr;
  }
  .product-container {
    flex-direction: row;
    height: 220px;
  }
  .product-container:hover {
    box-shadow: none;
  }
  .image-container {
    width: 200px;
  }
  .text-2 {
    font-size: 10px;
  }
  
  .emission,
  .score {
    font-size: 11px;
  }
  .text-4 {
    font-size: 13px;
  }
}