::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(217, 215, 215);
}

nav {
  display: flex;
  font-size: 13px;
  align-items: center;
  border-bottom: 2px solid rgb(210, 210, 210);
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  box-sizing: border-box;
  outline: none;
}

nav div {
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(94, 91, 91);
  position: relative;
  white-space: nowrap;
  box-sizing: border-box;
  outline: none;
}

nav div::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: rgb(226, 25, 68);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

nav div:hover::after {
  transform: scaleX(1);
}

nav div {
  cursor: pointer;
}

.right-nav {
  display: flex;
  align-items: center;
}

.first-nav {
  font-size: 14px;
  font-weight: 600;
  color: rgb(60, 56, 56);
  border-left: 1px solid rgb(220, 204, 204);
  padding-left: 17px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.first-nav ul {
  list-style-type: none;
  position: absolute;
  background-color: white;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  border-radius: 5px;
}

.first-nav a {
  text-decoration: none;
  color: black;
}

.first-nav .ul-1 {
  top: 40px;
  right: 1px;
}

.first-nav ul li {
  padding: 20px;
  transition: all .2s ease-in-out;
}

.first-nav:hover .ul-1 {
  opacity: 1;
  visibility: visible;
}

.first-nav ul li:hover {
  background-color: rgb(243, 240, 240);
  border-radius: 5px;
}

.ul-2,
.ul-3 {
  right: 185px;
}

.mobile-li:hover .ul-2 {
  opacity: 1;
  visibility: visible;
}

.mobile-li {
  position: relative;
}

.digital-li:hover .ul-3 {
  opacity: 1;
  visibility: visible;
}

.digital-li {
  position: relative;
}

.arrow-icon::before {
  content: '';
  border-bottom: 2px solid black;
  height: 7px;
  display: block;
  border-right: 2px solid black;
  width: 7px;
  position: absolute;
  right: 90%;
  top: 25px;
  transform: rotate(45deg);
  transition: .2s;
}

.arrow-icon:hover::before {
  transform: rotate(222deg);
}

.span2 {
  margin-right: 7px;
}

.hamberger {
  width: 17px;
  height: 20px;
}

.city-div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.city-div-hover {
 position: absolute;
 left: 10px;
 background-color: rgb(30, 30, 73);
 padding: 10px 5px 15px 5px;
 border-radius: 4px;
 opacity: 0;
 top: 50px;
 pointer-events: none;
 transition: opacity .2s;
 color: white;
 font-weight: 600;
}

.city-div:hover .city-div-hover {
  opacity: 1;
}

.location-icon {
  width: 16px;
  margin-left: 8px;
}


