.current span {
  margin-right: 20px;
  color: gray;
  font-size: 12px;
  font-weight: 400;
}

.current {
  margin-top: 20px;
  cursor: pointer;
  display: inline-block;
}

.current-container {
  display: flex;
  justify-content: space-between;
}

.current-left {
  margin-top: 20px;
}

.current-left span {
  margin-left: 15px;
  color: gray;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

.product-container {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1024px) {
  .current-left {
    display: none;
  }
  .main-container .product-container {
    flex-direction: column;
  }
  .product-container .product-image {
    width: 100%;
    flex-direction: column;
  }
  .product-container .product-image .product-icons {
    flex-direction: row;
    justify-content: end;
    column-gap: 25px;
  }
  .icon-hover,
  .icon-hover-2,
  .icon-hover-3,
  .icon-hover-4,
  .icon-hover-5,
  .icon-hover-6 {
    display: none;
}
  .product-container .product-image-1:hover {
    transform: scale(1);
  }
  .product-particuler-container {
    display: flex;
    flex-direction: column;
  }
  .sailer-particuler {
    flex-direction: column;
    margin-right: 20px;
  }
  .sailer-particuler .sailer-card {
    width: 100%;
    border: none;
    background-color: white;
  }
  .sailer-particuler .sailer-card div {
    padding-right: unset;
  }
  .sailer-card .sailer-span-1 {
    padding-right: 10px;
  }
  .title img {
    display: none;
  }
  .title {
    margin-right: 20px;
  }
  .title .title-text {
    padding: unset;
  }
  .title .title-text span {
    font-size: 13px;

  }
  .title .title-text p {
    font-size: 16px;
  }
  .product-particuler-container .product-particuler-1 {
    display: none;
  }
  .product-particuler-2 span {
    font-size: 12px;
  }
  .product-particuler-container .product-particuler-3 span {
    font-size: 14px;
  }
  .product-particuler-container .product-particuler-4 span {
    font-size: 12px;
  }
  .product-particuler-container .product-particuler-4 p {
    font-size: 13px;
  }
  .sailer-card .sailer-2 span {
    font-size: 15px;
  }
  .sailer-card .sailer-2 img {
    width: 20px;
  }
  .sailer-card .sailer-3 span {
    font-size: 11px;
  }
  .sailer-card .sailer-4 p {
    font-size: 13px;
  }
  .sailer-card .sailer-4 img {
    width: 15px;
  }
  .sailer-card .sailer-5 .exist {
    font-size: 13px;
  }
  .sailer-card .sailer-7 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    flex-direction: row;
    direction: ltr;
    column-gap: 130px;
  }
  .sailer-card .sailer-7 .price {
    direction: rtl;
    margin: unset;
    margin-left: 20px;
  }
  .sailer-card .sailer-7 .button-container {
    width: 100%;
    margin-right: 20px;
  }
  .sailer-card .sailer-7 .js-add-to-cart-button {
    width: 100%;
  }
  .sailer-card .sailer-7 #price-number {
    font-size: 15px;
  }
}

.product-image {
  width: 500px;
  margin-top: 50px;
  display: flex;
}

.product-image img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.product-image-1:hover {
  transform: scale(1.2);
}

#chart-icon {
  width: 35px;
}

#black-heart {
  width: 25px;
  display: none;
}

.heart-container,
.share-container,
.notification-container,
.chart-container,
.comparision-container,
.hamberger-container {
  position: relative;
}

.icon-hover,
.icon-hover-2,
.icon-hover-3,
.icon-hover-4,
.icon-hover-5,
.icon-hover-6 {
  opacity: 0;
  top: 0;
  right: 40px;
  white-space: nowrap;
  position: absolute;
  color: white;
  font-size: 13px;
  background-color: rgb(30, 30, 73);
  padding: 10px 10px;
  padding-bottom: 14px;
  border-radius: 5px;
  pointer-events: none;
  transition: .2s;
}

.heart-container:hover .icon-hover,
.share-container:hover .icon-hover-2,
.notification-container:hover .icon-hover-3,
.chart-container:hover .icon-hover-4,
.comparision-container:hover .icon-hover-5,
.hamberger-container:hover .icon-hover-6 {
  opacity: 1;
}

.product-icons {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 10px;
  align-items: center;
  margin-left: 20px;
}

.product-icons img {
  width: 20px;
}

.product-particuler-container {
  margin-top: 20px;
}

.title {
  display: flex;
  align-items: center;
}

.title img {
  width: 60px;
}

.title-text {
  line-height: 35px;
  padding-right: 10px;
}

.title-text span {
  margin-left: 10px;
  font-size: 15px;
  color: rgb(118, 223, 255);
  cursor: pointer;
  font-weight: 600;
}

.title-text p {
  font-size: 21px;
  white-space: wrap;
  font-weight: 600;
  margin-top: 0;
}

.product-particuler-1 {
  display: flex;
  align-items: center;
  color: rgb(193, 184, 184);
  white-space: wrap;
}

.product-particuler-2 {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.product-particuler-2 span {
  margin-left: 5px;
}

#star-vote {
  padding-top: 2px;
}

#yellow-star {
  padding-left: 5px;
  padding-top: 8px;
}

#yellow-star img {
  width: 15px;
}

.comments {
  color: rgb(132, 189, 208);
}

.product-particuler-3 {
  margin-top: 30px;
}

.product-particuler-3 span {
  font-size: 18px;
  font-weight: 600;
}

.div-1 {
  margin-top: 30px;
  border: 4px solid lightblue;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.div-1 img {
  width: 20px;
  margin-top: 5px;
  margin-right: 5px;
}

.div-hover {
  background-color: rgb(30, 30, 73);
  color: white;
  border-radius: 8px;
  padding: 10px 10px 15px 60px;
  margin-right: 30px;
  pointer-events: none;
  opacity: 0;
  white-space: nowrap;
}

.div-1:hover .div-hover {
  opacity: 1;
}

.product-particuler-4 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.product-particuler-4 span {
  color: rgb(166, 160, 160);
  font-size: 14px;
  font-weight: 600;
}

.product-particuler-4 p {
  font-size: 16px;
  font-weight: 700;
  display: inline;
}

.product-particuler-4 div {
  display: flex;
  align-items: center;
  line-height: 10px;
  column-gap: 8px;
}

.sailer-particuler {
  display: flex;
  justify-content: space-evenly;
}

.sailer-card {
  width: 330px;
  background-color: rgb(249, 245, 245);
  border: 1px solid rgb(210, 207, 207);
  border-radius: 8px; 
}

.sailer-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}

.sailer-span-1 {
  padding-right: 20px;
  font-size: 16px;
  font-weight: 600;
}

.sailer-span-2 {
  font-size: 12px;
  color: rgb(139, 194, 212);
  padding-left: 20px;
}

.sailer-2 {
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.sailer-2 img {
  margin-right: 10px;
  width: 25px;
}

.sailer-2 span {
  margin-right: 5px;
  font-size: 17px;
  font-weight: 400;
}

.sailer-3 {
  display: flex;
  align-items: center;
  padding-right: 58px;
  padding-bottom: 15px;
  margin-right: 7px;
  margin-top: 20px;
  border-bottom: 1px solid rgb(210, 207, 207);
}

.sailer-3 div {
  border-left: 1px solid rgb(210, 207, 207);
  margin-left: 10px;
}

.sailer-3 span {
  margin-left: 5px;
  color: gray;
  font-weight: 400;
}

.sailer-3 p {
  display: inline;
}

#operation {
  color: green;
  font-weight: 600;
}

.sailer-4 img {
  width: 20px;
  margin-left: 15px;
}

.sailer-4 {
  display: flex;
  align-items: center;
  padding-right: 18px;
  padding-bottom: 6px;
  margin-right: 5px;
  padding-top: 7px;
  border-bottom: 1px solid rgb(210, 207, 207);
  font-weight: 600;
}

.sailer-5 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-bottom: 1px solid rgb(210, 207, 207);
  margin-right: 5px;
  padding-right: 55px;
  padding-bottom: 20px;
  padding-top: 15px;
}

.sailer-5 div {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.sailer-5 img {
  width: 16px;
}

.sailer-5 .lesser-than-icon {
  width: 11px;
  margin-left: 20px;
}

.sailer-5 .exist {
  font-size: 16px;
  white-space: nowrap;
  font-weight: 600;
}

.sending {
  font-size: 12px;
  font-weight: 400;
  color: gray;
}

.exist-container {
  display: flex;
  justify-content: space-between;
}

.sailer-6 img {
  width: 20px;
  padding-left: 20px;
}

.sailer-6 {
  display: flex;
  align-items: center;
  margin-right: 5px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(210, 207, 207)
}

.sailer-6 span {
  padding-left: 20px;
  font-size: 12px;
  font-weight: 600;
}

.sailer-7 {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.price {
  display: flex;
  margin-right: 200px;
  align-items: center;
  margin-top: 30px;
}

.price span {
  font-size: 10px;
  font-weight: 600;
  padding-right: 5px;
}

#price-number {
  font-size: 18px;
  font-weight: 600;
}

.js-add-to-cart-button {
  width: 310px;
  margin-right: 10px;
  height: 40px;
  background-color: rgb(241, 40, 74);
  border: none;
  border-radius: 10px;
  color: white;
  font-family: Vazir;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 15px;
}

.js-add-to-cart-button:active {
  background-color: rgb(250, 102, 127);
}

#added-to-cart {
  padding-right: 20px;
  display: none;
  color: rgb(47, 90, 132);
}

.in-youre-cart {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-right: 20px;
  line-height: 30px;
}

.in-youre-cart-container {
  display: none;
}

#visit-cart {
  color: rgb(58, 141, 168);
  text-decoration: none;
}


