.current span {
  margin-right: 20px;
  color: gray;
  font-size: 12px;
  font-weight: 400;
}

.current {
  margin-top: 20px;
  cursor: pointer;
  display: inline-block;
}

.current-container {
  display: flex;
  justify-content: space-between;
}

.current-left {
  margin-top: 20px;
}

.current-left span {
  margin-left: 15px;
  color: gray;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

.product-container {
  display: flex;
  justify-content: space-evenly;
}

.product-image {
  width: 500px;
  margin-top: 50px;
  display: flex;
}

.product-image img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.product-image-1:hover {
  transform: scale(1.3);
}

#chart-icon,
#hamberger-icon {
  width: 35px;
}

.product-icons {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 5px;
  align-items: center;
}

.product-icons img {
  width: 20px;
}

.product-particuler-container {
  margin-top: 20px;
}

.title {
  display: flex;
  align-items: center;
}

.title img {
  width: 60px;
}

.title-text {
  line-height: 40px;
  padding-right: 10px;
}

.title-text span {
  margin-left: 10px;
  font-size: 15px;
  color: rgb(137, 191, 209);
  cursor: pointer;
}

.title-text p {
  font-size: 21px;
}

.product-particuler-1 {
  display: flex;
  align-items: center;
  color: rgb(193, 184, 184);
  white-space: nowrap;
}

.product-particuler-2 {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.product-particuler-2 span {
  margin-left: 5px;
}

#star-vote {
  padding-top: 2px;
}

#yellow-star {
  padding-left: 5px;
  padding-top: 8px;
}

#yellow-star img {
  width: 15px;
}

.comments {
  color: rgb(132, 189, 208);
}

.product-particuler-3 {
  margin-top: 30px;
}

.product-particuler-3 span {
  font-size: 18px;
}

.div-1 {
  margin-top: 30px;
  border: 4px solid lightblue;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.div-1 img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.div-1-hover {
  width: 37px;
  height: 35px;
  background-color: rgb(45, 43, 43);
  color: white;
  padding-top: 10px;
  padding-right: 15px;
  border-radius: 8px;
  top: 10px;
  pointer-events: none;
  opacity: 0;
}

.div-1:hover .div-1-hover {
  opacity: 1;
}

.product-particuler-4 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.product-particuler-4 span {
  color: gray;
  font-size: 14px;
  font-weight: 400;
}

.product-particuler-4 p {
  font-size: 16px;
  font-weight: 700;
  display: inline;
}

.product-particuler-4 div {
  display: flex;
  align-items: center;
  line-height: 10px;
  column-gap: 8px;
}

.sailer-particuler {
  display: flex;
  justify-content: space-between;
}

.sailer-card {
  width: 330px;
  background-color: rgb(249, 245, 245);
  border: 1px solid rgb(210, 207, 207);
  border-radius: 8px;
}

.sailer-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.sailer-span-1 {
  padding-right: 20px;
  font-size: 17px;
}

.sailer-span-2 {
  font-size: 12px;
  color: rgb(139, 194, 212);
  padding-left: 20px;
}

.sailer-card img {
  width: 50px;
}

.sailer-2 {
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.sailer-2 img {
  margin-right: 10px;
}

.sailer-2 span {
  margin-right: 5px;
  font-size: 17px;
  font-weight: 400;
}

.sailer-3 {
  display: flex;
  padding-right: 58px;
  padding-bottom: 15px;
  margin-right: 7px;
  margin-top: 20px;
  border-bottom: 1px solid rgb(210, 207, 207);
}

.sailer-3 div {
  border-left: 1px solid rgb(210, 207, 207);
  margin-left: 10px;
}

.sailer-3 span {
  margin-left: 5px;
  color: gray;
  font-weight: 400;
}

.sailer-3 p {
  display: inline;
}

#operation {
  color: green;
  font-weight: 600;
}

.sailer-4 img {
  width: 20px;
  margin-left: 20px;
}

.sailer-4 {
  display: flex;
  align-items: center;
  padding-right: 18px;
  padding-bottom: 6px;
  margin-right: 5px;
  padding-top: 7px;
  border-bottom: 1px solid rgb(210, 207, 207);
}

.sailer-5 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-bottom: 1px solid rgb(210, 207, 207);
  margin-right: 5px;
  padding-right: 55px;
  padding-bottom: 20px;
  padding-top: 15px;
}

.sailer-5 div {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.sailer-5 img {
  width: 20px;
}

.exist {
  font-size: 16px;
  margin-left: 90px;
  white-space: nowrap;
}

.sending {
  font-size: 12px;
  font-weight: 400;
  color: gray;
}

.sailer-6 img {
  width: 20px;
  padding-left: 20px;
}

.sailer-6 {
  display: flex;
  align-items: center;
  margin-right: 5px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(210, 207, 207)
}

.sailer-6 span {
  padding-left: 20px;
  font-size: 13px;
}

.sailer-7 {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.off-container {
  display: flex;
  flex-direction: row;
  margin-right: 220px;
  padding-top: 20px;
}

.off-percent {
  height: 20px;
  width: 20px;
  background-color: rgb(241, 40, 74);
  border-radius: 10px;
  color: white;
  display: flex;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px; 
  margin-left: 5px;
}

.off-number {
  text-decoration: line-through;
  color: gray;
}

.price {
  display: flex;
  margin-right: 200px;
  align-items: center;
}

.price span {
  font-size: 10px;
  padding-right: 5px;
}

#price-number {
  font-size: 18px;
}

.js-add-to-cart-button {
  width: 310px;
  margin-right: 10px;
  height: 40px;
  background-color: rgb(241, 40, 74);
  border: none;
  border-radius: 10px;
  color: white;
  font-family: Vazir;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.js-add-to-cart-button:active {
  background-color: rgb(250, 102, 127);
}

#added-to-cart {
  padding-right: 20px;
  display: none;
  color: rgb(47, 90, 132);
}

.in-youre-cart {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-right: 20px;
  line-height: 30px;
}

.in-youre-cart-container {
  display: none;
}

#visit-cart {
  color: rgb(58, 141, 168);
  text-decoration: none;
}


