.slider {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.slider img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.slides {
  display: flex;
  height: 400px;
  width: 800%;
}

@media ( max-width: 1300px ) {
  .slides {
    height: 350px;
  }
  
}

@media ( max-width: 1000px ) {
  .slides {
    height: 300px;
  }
}

@media ( max-width: 800px ) {
  .slides {
    height: 250px;
  }
}

@media ( max-width: 600px ) {
  .slides {
    height: 200px;
  }
}

@media ( max-width: 400px ) {
  .slides {
    height: 150px;
  }
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 1s;
}

.navigation-manual {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -40px;
}

.manual-btn {
  padding: 4px;
  cursor: pointer;
  transition: .2s;
  border: 1px solid white;
  border-radius: 10px;
  margin-right: 20px;
}

.manual-btn:hover {
  background: white;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -14.5%;
}

#radio3:checked ~ .first {
  margin-left: -35%;
}

#radio4:checked ~ .first {
  margin-left: -62%;
}

#radio5:checked ~ .first {
  margin-left: -83.5%;
}

#radio6:checked ~ .first {
  margin-left: -103%;
}

#radio7:checked ~ .first {
  margin-left: -123%;
}

#radio8:checked ~ .first {
  margin-left: -141%;
}
